<!-- libros/detalles.html -->
<div class="modal fade" id="detallesModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-book me-2"></i>Detalles del Libro
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="border-bottom pb-2">Información General</h6>
                        <dl class="row">
                            <dt class="col-sm-4">Título:</dt>
                            <dd class="col-sm-8" id="detalle-titulo"></dd>
                            
                            <dt class="col-sm-4">Autor:</dt>
                            <dd class="col-sm-8" id="detalle-autor"></dd>
                            
                            <dt class="col-sm-4">Categoría:</dt>
                            <dd class="col-sm-8" id="detalle-categoria"></dd>
                            
                            <dt class="col-sm-4">ISBN:</dt>
                            <dd class="col-sm-8" id="detalle-isbn"></dd>
                            
                            <dt class="col-sm-4">Editorial:</dt>
                            <dd class="col-sm-8" id="detalle-editorial"></dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <h6 class="border-bottom pb-2">Estado</h6>
                        <dl class="row">
                            <dt class="col-sm-4">Copias:</dt>
                            <dd class="col-sm-8" id="detalle-copias"></dd>
                            
                            <dt class="col-sm-4">Disponibles:</dt>
                            <dd class="col-sm-8" id="detalle-disponibles"></dd>
                            
                            <dt class="col-sm-4">Estado:</dt>
                            <dd class="col-sm-8">
                                <span id="detalle-estado" class="badge"></span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>